{% use 'bootstrap_4_layout.html.twig' %}

{# Widgets #}

{% block rating_widget %}
{% apply spaceless %}
  <div class="rating">
    {{- block('form_widget_simple') -}}
    {%- for star in 1..stars -%}
      {%- set value = stars - star + 1 -%}
      <div id="rating_star_{{ value }}" class="star {% if value <= form.vars.value %}is-selected{% endif %} {% if loop.first %}is-max{% endif %}" data-value="{{ value }}" title="{{ value }}"></div>
    {%- endfor -%}
  </div>
{% endapply %}
{% endblock rating_widget %}

{% block address_widget -%}
  <div class="row address">
    <div class="col-md-12">
      {{ form_row(form.street, {disabled: disabled}) }}
    </div>
    <div class="col-sm-6 col-md-6">
      {{ form_row(form.city, {disabled: disabled}) }}
    </div>
    <div class="col-sm-3 col-md-3">
      {{ form_row(form.state, {disabled: disabled}) }}
    </div>
    <div class="col-sm-3 col-md-3">
      {{ form_row(form.zip, {disabled: disabled}) }}
    </div>
  </div>
{%- endblock address_widget %}

{% block date_widget -%}
  {%- if attr.original|default(false) -%}
    {{ form_widget(form) }}
  {%- else -%}
    {{ form_widget(form, {type: 'hidden'}) }}

    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control js-datepicker')|trim}) -%}
    <input type="text"
      {{ block('attributes') }}
      {%- if disabled %} disabled="disabled"{% endif -%}
      {%- if required %} required="required"{% endif -%}
      {%- if value is not empty %}value="{{ value|date(is_granted('ROLE_USER') ? app.user.dateFormat : constant('EWZ\\SymfonyAdminBundle\\Model\\User::PHP_DATE_FORMAT_US')) }}"{% endif -%}
      data-format="{% if is_granted('ROLE_USER') and app.user.dateFormat == constant('EWZ\\SymfonyAdminBundle\\Model\\User::PHP_DATE_FORMAT_US') %}{{ constant('EWZ\\SymfonyAdminBundle\\Model\\User::JS_DATE_FORMAT_US') }}{% else %}{{ constant('EWZ\\SymfonyAdminBundle\\Model\\User::JS_DATE_FORMAT_OTHER') }}{% endif %}"
    />
  {%- endif -%}
{%- endblock date_widget %}

{% block time_widget -%}
  {%- if attr.original|default(false) -%}
    {{ form_widget(form) }}
  {%- else -%}
    {% set placeholder = attr.placeholder|default('') -%}
    {%- if placeholder is not none -%}
      {% set placeholder = placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) %}
    {%- endif -%}

    <div class="dropdown has-filter {% if disabled or attr.readonly|default(false) %}is-disabled{% endif %} js-select-dropdown">
      <div class="dropdown-selected {% if disabled or attr.readonly|default(false) %}disabled{% endif %}" data-toggle="dropdown">
        <span class="dropdown-text {% if form.vars.value is empty %}dropdown-placeholder{% endif %}">
          {{ form.vars.value|default(placeholder) }}
        </span>

        {% if not attr.readonly|default(false) %}
          <div class="dropdown-indicator">
            <i class="ledger-icons ledger-icon-carat-down"></i>
          </div>
        {% endif %}
      </div>

      <div class="dropdown-menu dropdown-options">
        <div class="dropdown-filter">
          <input type="text" placeholder="Search" class="input-text ignore-input" autocomplete="off" />
        </div>
        <div class="option-list">
          <ul>
            {% set choices = [] %}
            {% for hour in 0..23 %}
              {% for m in 0..(60/time_interval)|round-1 %}
                {% set minute = m * time_interval %}

                {% set timeLabel = hour < 10 ? '0' ~ hour : hour %}
                {% if not time_24hour %}
                  {% if hour == 0 %}
                    {% set timeLabel = '12:' ~ (minute < 10 ? '0' ~ minute : minute) ~ ' AM' %}
                  {% elseif hour == 12 %}
                    {% set timeLabel = timeLabel ~ ':' ~ (minute < 10 ? '0' ~ minute : minute) ~ ' PM' %}
                  {% elseif hour < 12 %}
                    {% set timeLabel = timeLabel ~ ':' ~ (minute < 10 ? '0' ~ minute : minute) ~ ' AM' %}
                  {% elseif hour > 12 %}
                    {% set timeLabel = (hour - 12) < 10 ? '0' ~ (hour - 12) : (hour - 12) %}
                    {% set timeLabel = timeLabel ~ ':' ~ (minute < 10 ? '0' ~ minute : minute) ~ ' PM' %}
                  {% endif %}
                {% else %}
                    {% set timeLabel = timeLabel ~ ':' ~ (minute < 10 ? '0' ~ minute : minute) %}
                {% endif %}

                {% set choices = choices|merge([
                  {
                    value: (hour < 10 ? '0' ~ hour : hour) ~ ':' ~ (minute < 10 ? '0' ~ minute : minute),
                    label: hour == 0 and minute == 0
                      ? 'Midnight'
                      : hour == 12 and minute == 0
                        ? 'Noon'
                        : timeLabel
                  }
                ]) %}
              {% endfor %}
            {% endfor %}
            {% for choice in choices %}
              <li class="option-list-item {% if choice.value == form.vars.value %}is-selected is-highlighted{% endif %}" data-value="{{ choice.value }}">
                <span class="option-list-item-text">{{ choice.label }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="d-none">
        {{ form_widget(form, {type: 'hidden'}) }}
      </div>
    </div>
  {%- endif -%}
{%- endblock time_widget %}

{% block datetime_widget -%}
  {%- if attr.original|default(false) -%}
    {{ form_widget(form) }}
  {%- else -%}
    <div class="row datetime">
      <div class="col-md-6">
        {% set dateAttr = attr|merge(date_attr|default({})) %}
        {%- if dateAttr.placeholder|default('') is empty -%}
          {%- set dateAttr = dateAttr|merge({placeholder: 'Add Date'}) -%}
        {%- endif -%}
        {%- if date_disabled|default(false) -%}
          {%- set dateAttr = dateAttr|merge({readonly: true}) -%}
        {%- endif -%}

        {{- form_row(form.date, {
          disabled: disabled,
          attr: dateAttr
        }) -}}
      </div>
      <div class="col-md-6">
        {% set timeAttr = attr|merge(time_attr|default({})) %}
        {%- if timeAttr.placeholder|default('') is empty -%}
          {%- set timeAttr = timeAttr|merge({placeholder: 'Add Time'}) -%}
        {%- endif -%}
        {%- if time_disabled|default(false) -%}
          {%- set timeAttr = timeAttr|merge({readonly: true}) -%}
        {%- endif -%}

        {{- form_row(form.time, {
          time_interval: time_interval,
          time_24hour: time_24hour,
          disabled: disabled,
          attr: timeAttr
        }) -}}
      </div>
    </div>
  {%- endif -%}
{%- endblock datetime_widget %}

{% block autocomplete_widget -%}
  {% set multiple = multiple|default(false) %}
  {% set text = text|default('') %}
  {% set placeholder = attr.placeholder|default('') -%}
  {%- if placeholder is not none -%}
    {% set placeholder = placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) %}
  {%- endif -%}

  <div class="dropdown {{ dropdown_class|default('') }} has-filter {% if disabled or attr.readonly|default(false) %}is-disabled{% endif %} js-select-dropdown{% if multiple %}-multiple dropdown-multiple{% endif %} js-autocomplete-dropdown"
    data-placeholder="{{ placeholder }}"
    {% if filter_url|default(null) %}
      data-endpoint="{{ filter_url }}"
    {% endif %}
    {% if json|default(null) %}
      data-json="{{ json }}"
    {% endif %}
  >
    {% if multiple %}
      <div class="dropdown-tags tag-collection"></div>
    {% endif %}

    <div class="dropdown-selected {% if disabled or attr.readonly|default(false) %}disabled{% endif %}" data-toggle="dropdown">
      <span class="dropdown-text {% if multiple or text is empty %}dropdown-placeholder{% endif %}">
        {% if multiple %}{{ placeholder }}{% else %}{{ text|default(placeholder) }}{% endif %}
      </span>

      {% if not attr.readonly|default(false) %}
        <div class="dropdown-indicator">
          <i class="ledger-icons ledger-icon-carat-down"></i>
        </div>
      {% endif %}
    </div>

    {% if not multiple and not disabled and not attr.readonly|default(false) %}
      <div class="dropdown-reset" {% if text is empty %}style="display: none"{% endif %}>
        <i class="ledger-icons ledger-icon-close"></i>
      </div>
    {% endif %}

    <div class="dropdown-menu dropdown-options {{ dropdown_options_class|default('') }}">
      <div class="dropdown-filter">
        <input type="text" placeholder="Search" class="input-text ignore-input" autocomplete="off" />
      </div>
      <div class="option-list">
        <ul>
          {% if not multiple %}
            <li class="option-list-label option-list-label-empty">
              <div class="option-list-label-label">No Results Found</div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="d-none">
      {{ form_widget(form, {type: 'hidden'}) }}
    </div>
  </div>
{%- endblock autocomplete_widget %}

{% block textarea_widget -%}
  {% set attr = attr|merge({rows: 1}) %}
  {{- parent() -}}
{%- endblock textarea_widget %}

{% block password_widget -%}
  {% if show_password|default(false) %}
    <div class="password-input">
      <div class="checkbox">
        <label class="checkbox-label">
          <input type="checkbox" value="1" class="checkbox-input js-show-password" data-target="#{{ form.vars.id }}" />
          <span class="checkbox-display">
            <i class="ledger-icons ledger-icon-eye checked"></i>
            <i class="ledger-icons ledger-icon-eye-off unchecked"></i>
          </span>
        </label>
      </div>
    </div>

    {%- set attr = attr|merge({class: attr.class|default('') ~ ' pr-5'}) -%}
  {% endif %}

  {{- parent() -}}
{%- endblock password_widget %}

{% block checkbox_widget -%}
  {%- set parent_attr = parent_attr|default({})|merge({class: (parent_attr.class|default('') ~ ' checkbox')|trim}) -%}
  {%- if not compound -%}
    {% set label_attr = label_attr|merge({'for': id}) %}
  {%- endif -%}
  {%- if required -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
  {%- endif -%}
  {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' checkbox-label')|trim}) -%}
  {%- if label is not same as(false) and label is empty -%}
    {%- if label_format is not empty -%}
      {%- set label = label_format|replace({
        '%name%': name,
        '%id%': id,
      }) -%}
    {%- else -%}
      {%- set label = name|humanize -%}
    {%- endif -%}
  {%- endif -%}
  <div {% if parent_attr %}{% with { attr: parent_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
      {% set attr = attr|merge({class: (attr.class|default('') ~ ' checkbox-input')|trim}) %}
      {% if 'checkbox-no-empty' not in attr.class %}
        <input type="hidden" name="{{ full_name }}" value="0" />
      {% endif %}
      <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
      <span class="checkbox-display">
        <i class="ledger-icons ledger-icon-{{ onIcon|default('check-square') }} checked"></i>
        <i class="ledger-icons ledger-icon-{{ offIcon|default('square-o') }} unchecked"></i>
      </span>
      <span class="checkbox-text">
        {{- label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain))|raw -}}
        {{- form_errors(form) -}}
      </span>
    </label>
  </div>
{%- endblock checkbox_widget %}

{% block radio_widget -%}
  {%- set parent_attr = parent_attr|default({})|merge({class: (parent_attr.class|default('') ~ ' radio-button-group-item')|trim}) -%}
  {%- if parent_multiline|default(false) -%}
    {%- set parent_attr = parent_attr|default({})|merge({class: (parent_attr.class|default('') ~ ' is-multiline')|trim}) -%}
  {%- endif -%}
  {%- if not compound -%}
    {% set label_attr = label_attr|merge({'for': id}) %}
  {%- endif -%}
  {%- if required -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
  {%- endif -%}
  {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' radio-button-inline radio-button')|trim}) -%}
  {%- if label is not same as(false) and label is empty -%}
    {%- if label_format is not empty -%}
      {%- set label = label_format|replace({
        '%name%': name,
        '%id%': id,
      }) -%}
    {%- else -%}
      {%- set label = name|humanize -%}
    {%- endif -%}
  {%- endif -%}
  <span {% if parent_attr %}{% with { attr: parent_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' radio-input')|trim}) %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
      <i class="ledger-icons ledger-icon-{{ onIcon|default('dot-circle') }} checked"></i>
      <i class="ledger-icons ledger-icon-{{ offIcon|default('circle-o') }} unchecked"></i>
      <span>
        {{- label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain))|raw -}}
        {{- form_errors(form) -}}
      </span>
    </label>
  </span>
{%- endblock radio_widget %}

{% block choice_widget_expanded -%}
  <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
      {{- form_widget(child, {
        parent_label_class: label_attr.class|default(''),
        translation_domain: choice_translation_domain,
        valid: valid,
        attr: attr,
        onIcon: onIcon|default(false),
        offIcon: offIcon|default(false)
      }) -}}
    {% endfor -%}
  </div>
{%- endblock choice_widget_expanded %}

{%- block choice_widget_collapsed -%}
  {% set allow_reset = not required and not disabled and not attr.readonly|default(false) and placeholder %}
  {%- if placeholder is not none -%}
    {% set placeholder = placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) %}
  {%- endif -%}

  <div class="dropdown {{ dropdown_class|default('') }} {% if filtered|default(false) %}has-filter{% endif %} {% if disabled or attr.readonly|default(false) %}is-disabled{% endif %} js-select-dropdown{% if multiple %}-multiple dropdown-multiple{% endif %}"
    data-placeholder="{{ placeholder }}"
  >
    {% if multiple %}
      <div class="dropdown-tags tag-collection"></div>
    {% endif %}

    <div class="dropdown-selected {% if disabled or attr.readonly|default(false) %}disabled{% endif %}" data-toggle="dropdown">
      <span class="dropdown-text {% if multiple or form.vars.value is empty %}dropdown-placeholder{% endif %}">
        {{ placeholder }}
      </span>

      {% if not attr.readonly|default(false) %}
        <div class="dropdown-indicator">
          <i class="ledger-icons ledger-icon-carat-down"></i>
        </div>
      {% endif %}
    </div>

    {% if not multiple and allow_reset|default(false) %}
      <div class="dropdown-reset" {% if form.vars.value is empty %}style="display: none"{% endif %}>
        <i class="ledger-icons ledger-icon-close"></i>
      </div>
    {% endif %}

    <div class="dropdown-menu dropdown-options {{ dropdown_options_class|default('') }}">
      {%- if filtered|default(false) -%}
        <div class="dropdown-filter">
          <input type="text" placeholder="Search" class="input-text ignore-input" autocomplete="off" />
        </div>
      {%- endif -%}
      <div class="option-list">
        <ul>
          {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_dropdown_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
              <li class="option-list-item-disabled">
                <span class="option-list-item-text">{# separator #}<hr/></span>
              </li>
            {%- endif -%}
          {%- endif -%}
          {%- set options = choices -%}
          {{- block('choice_dropdown_widget_options') -}}
          {% if preferred_choices|length == 0 and choices|length == 0 %}
            <li class="option-list-label option-list-label-empty">
              <div class="option-list-label-label">No Options Found</div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% if required %}
      {% set placeholder = null %}
    {% endif %}

    <div class="d-none">
      {{ parent() }}
    </div>
  </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_dropdown_widget_options -%}
  {% for group_label, choice in options %}
    {%- if choice is iterable -%}
      <li class="option-list-label">
        <span class="option-list-label-text">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</span>
      </li>
      {% set options = choice %}
      {{- block('choice_dropdown_widget_options') -}}
    {%- else -%}
      <li class="option-list-item {% if choice is selectedchoice(value) %}is-selected is-highlighted{% endif %}" data-value="{{ choice.value }}" {% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if abbreviation|default(false) -%}
          <span class="option-list-info-item-abbreviation">{{ choice.value }}</span>
          <span class="option-list-info-item-text">{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</span>
        {%- else -%}
          <span class="option-list-item-text">{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</span>
        {%- endif -%}
      </li>
    {%- endif -%}
  {% endfor %}
{%- endblock choice_dropdown_widget_options -%}

{#
 # Adds the following html attributes to the root node of your collection fields:
 #
 # - data-prototype-name: placeholder used in the prototype to replace element indexes on the collection
 # - data-allow-add: if set to false, plugin will automatically set allow_add option to false
 # - data-allow-delete: if set to false, plugin will automatically set allow_remove option to false
 # - data-name-prefix: contains the collection's prefix used in descendant field names
 #}
{% block key_value_widget %}
  {% if prototype is defined %}
    {% set child = prototype %}
    {% set attr = attr|merge({'data-prototype': block('key_value_widget_prototype')}) %}
    {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
  {% endif %}
  {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
  {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
  {% set attr = attr|merge({'data-add-more': full_name }) %}
  {% set attr = attr|merge({'data-index': form.count }) %}
  {% set attr = attr|merge({class: (attr.class|default('') ~ ' typed-property-layout')|trim}) %}
  <div {{ block('widget_container_attributes') }}>
    <ul class="typed-property-list">
      {{ form_errors(form) }}
      {% for child in form %}
        {{ block('key_value_widget_prototype') }}
      {% endfor %}
      {{ form_rest(form) }}
    </ul>
    {% if form.vars.allow_add and form|length > 0 %}
      <a href="#" class="typed-property-add">{{ full_name }}</a>
    {% endif %}
  </div>
{% endblock key_value_widget %}

{% block key_value_widget_prototype %}
  <li class="typed-property-item">
    {{ form_widget(child.key, {
      required: true,
      label: false,
      attr: {
        class: 'typed-property-key-field'
      },
      dropdown_class: 'dropdown-label typed-property-key-dropdown'
    }) }}
    {{ form_widget(child.value, {
      label: false,
      attr: {
        class: 'typed-property-value-field'
      }
    }) }}
  </li>
{% endblock key_value_widget_prototype %}

{% block icon_choice_widget %}
  <div class="icon-selector-component">
    {% for child in form %}
      <div class="icon-selector-component-option">
        {{- form_widget(child) -}}
      </div>
    {% endfor %}
  </div>
{% endblock icon_choice_widget %}

{# Rows #}

{% block form_row -%}
  {%- if compound is defined and compound -%}
    {%- set element = 'fieldset' -%}
  {%- endif -%}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  {%- if element_class is not defined -%}
    {%- set element_class = null -%}
  {%- endif -%}
  {%- if icon is not defined -%}
    {%- set icon = null -%}
  {%- endif -%}
  {%- if icon is not empty -%}
    {%- set element_class = (element_class ~ ' has-icon')|trim -%}
  {%- endif -%}
  {%- if 'has-floating-label' in element_class -%}
    {%- if placeholder is defined -%}
      {%- set widget_attr = widget_attr|merge({placeholder: ' '}) -%}
    {%- else -%}
      {%- set widget_attr = widget_attr|merge({attr: {placeholder: ' '}}) -%}
    {%- endif -%}
  {%- endif -%}
  <{{ element|default('div') }} class="form-group {{ element_class }} {% if required %}is-required{% endif %} {% if disabled or attr.readonly|default(false) %}is-disabled{% endif %} {% if (not compound or force_error|default(false)) and not valid %}is-invalid{% endif %}">
    {%- if 'has-floating-label' not in element_class -%}
      {{- form_label(form) -}}
    {%- endif -%}
    {%- if icon is not empty -%}
      <i class="{{ icon }}"></i>
    {%- endif -%}
    {{- form_widget(form, widget_attr) -}}
    {%- if 'has-floating-label' in element_class -%}
      {{- form_label(form) -}}
    {%- endif -%}
    <div class="form-control-error">
      {{- form_errors(form) -}}
    </div>
    {{- form_help(form) -}}
  </{{ element|default('div') }}>
{%- endblock form_row %}

{% block key_value_row -%}
  <div class="form-property-container">
    {{- form_row(form) -}}
  </div>
{%- endblock key_value_row %}

{# Errors #}

{% block form_errors -%}
  {%- if errors|length > 0 -%}
    {%- if form is not rootform -%}
      <span class="invalid-feedback d-block">
        {%- for error in errors -%}
          <span class="mb-0 d-block">
            <span class="initialism form-error-icon badge badge-danger">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.message|trans }}</span>
          </span>
        {%- endfor -%}
      </span>
    {%- else -%}
      <div class="banner-block banner-block-is-urgent">
        <div class="banner-block-row media">
          <div class="media-left">
            <i class="ledger-icons ledger-icon-info banner-block-icon"></i>
          </div>
          <div class="media-body">
            <div class="banner-block-title"></div>
            <ul class="banner-block-content">
              {%- for error in errors -%}
                <li>{{ error.message|trans }}</li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    {%- endif %}
  {%- endif %}
{%- endblock form_errors %}

{# Help #}

{% block form_help -%}
  {%- if help is not empty -%}
    {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' form-text text-muted')|trim}) -%}
    <small id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
      {%- if help_indent is defined and help_indent -%}
        <span class="indent">
      {%- endif -%}

      {%- if translation_domain is same as(false) -%}
        {{- help|raw -}}
      {%- else -%}
        {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
      {%- endif -%}

      {%- if help_indent is defined and help_indent -%}
        </span>
      {%- endif -%}
    </small>
  {%- endif -%}
{%- endblock form_help %}
