{% set stars = stars|default(5) %}
{% set rating = rating|default(0) %}

<div class="rating {% if readonly is not defined or readonly %}is-readonly{% endif %} p-0">
  <input type="hidden" value="{{ rating }}" />

  {% for star in 1..stars %}
    {%- set value = stars - star + 1 -%}
    <div id="rating_star_{{ value }}" class="star {% if value <= rating %}is-selected{% endif %} {% if loop.first %}is-max{% endif %} {{ class|default(null) }}" data-value="{{ value }}" title="{{ value }}"></div>
  {% endfor %}
</div>
