{% extends '@SymfonyAdmin/layout/backend/layout.html.twig' %}

{% import '@SymfonyAdmin/layout/backend/macros.html.twig' as LUI %}

{% block title 'Settings' %}

{% if header_title is not defined %}
  {% set header_title = 'Settings' %}
{% endif %}

{% set application_content_class = 'has-navigation' %}

{% block body %}
  <div class="settings-content-nav ">
    {{ LUI.navigation(settingsNavItems|default([])) }}
  </div>

  <div class="settings-content-main">
    <section class="page-title">
      {% if settings_title_back is defined and settings_title_back %}
        <div class="page-title-back-link {{ settings_title_back.class|default(null) }}">
          <i class="zmdi zmdi-arrow-left"></i>
          <a href="{{ settings_title_back.link }}">{{ settings_title_back.title }}</a>
        </div>
      {% endif %}

      <div class="media">
        <div class="media-body">
          <h1>{{ section_title|default('') }}</h1>

          {% if section_action_icon is defined and section_action_icon %}
            <span class="ml-4 settings-content-action-icon js-entity-modal" data-endpoint="{{ section_action_icon.link }}">
              <i class="{{ section_action_icon.icon }}"></i>
            </span>
          {% endif %}
        </div>

        {% if section_help_link is defined and section_help_link %}
          <a href="{{ section_help_link.link }}" class="page-title-help-link media-right" target="_blank">
            <i class="zmdi zmdi-help"></i> {{ section_help_link.title }}
          </a>
        {% endif %}

        {% if section_html is defined and section_html %}
          {{ section_html|raw }}
        {% endif %}
      </div>
      <div class="media">
        <div class="page-title-description media-body">{{ section_description|default('') }}</div>
      </div>
    </section>

    {% block section_blocks %}{% endblock %}
  </div>
{% endblock %}
