{% import '@SymfonyAdmin/macros.html.twig' as UI %}

<header>
  <div class="header {{ header_class|default('') }}">
    <div class="header-left">
      <a href="#" class="navigation-mobile-toggle js-navigation-toggle">
        <span class="navigation-mobile-toggle-icon material-icons">menu</span>
      </a>

      <div class="header-title">
        <span>{{ header_title|default('')|raw }}</span>
      </div>
    </div>

    {% block global_search %}
      {% if search_endpoint|default(false) is not empty %}
        <div class="header-center">
          <div class="header-search">
            <div class="typeahead typeahead-global-search is-empty"
              data-endpoint="{{ search_endpoint }}"
              {% if search_redirect|default(false) %}
                data-redirect="{{ search_redirect }}"
              {% endif %}
              {% if search_empty|default(false) %}
                data-empty="{{ search_empty }}"
              {% endif %}
            >
              <div class="typeahead-header">
                <input type="text" class="global-search-typeahead-text-field" placeholder="Search.." autocomplete="off" />
                <div class="typeahead-global-search-icon">
                  <i class="zmdi zmdi-search"></i>
                </div>
              </div>
              <div class="typeahead-options"></div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}

    <div class="header-right">
      <div class="header-action-bar">
        {% block buttons %}{% endblock %}

        {% if actions is not defined %}
          {% set actions = [] %}
        {% endif %}

        {{ UI.dropdownButton({
          label: false,
          right: true,
          aCss: 'header-icon dropdown-header-icon popup-container',
          iCss: 'button button-toggle zmdi zmdi-more-vert',
          elements: actions|merge([
            {
              path: path('security_logout'),
              label: 'Log Out',
              iCss: 'zmdi zmdi-square-right',
              opCss: 'option-list-item-divider'
            }
          ])
        }) }}
      </div>
    </div>
  </div>
</header>
