{% macro navigation(items) %}
  <div class="navigation-main">
    <ul>
      {% for item in items %}
        {% if item.hide is not defined or not item.hide %}
          {% if item.items is defined %}
            {% set isActive = false %}
            {% if item.multiLevel is defined and item.multiLevel %}
              {% for category in item.items %}
                {% for menu in category.items %}
                  {% if (menu.hide is not defined or not menu.hide) and menu.active|default(false) %}
                    {% set isActive = true %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% else %}
              {% for menu in item.items %}
                {% if (menu.hide is not defined or not menu.hide) and menu.active|default(false) %}
                  {% set isActive = true %}
                {% endif %}
              {% endfor %}
            {% endif %}

            <li class="{% if isActive %}is-active{% endif %} {% if item.multiLevel is defined and item.multiLevel %}navigation-has-secondary{% endif %}">
              <a href="#" class="navigation-item-button">
                {{ item.name }}

                {% if (item.multiLevel is defined and item.multiLevel|length) or item.items|length %}
                  <span class="navigation-arrow"></span>
                {% endif %}
              </a>

              {% if item.multiLevel is defined and item.multiLevel %}
                <ul>
                  {% for category in item.items %}
                    {% if category.hide is not defined or not category.hide %}
                      {% set isActive = false %}
                      {% for menu in category.items %}
                        {% if (menu.hide is not defined or not menu.hide) and menu.active|default(false) %}
                          {% set isActive = true %}
                        {% endif %}
                      {% endfor %}

                      <li class="{% if isActive %}is-active{% endif %}">
                        <a href="#" class="navigation-item-button">
                          {{ category.name }}
                          <span class="navigation-arrow"></span>
                        </a>

                        <ul class="navigation-subnav">
                          {% for menu in category.items %}
                            {% if menu.hide is not defined or not menu.hide %}
                              <li class="{% if menu.active|default(false) %}is-active{% endif %}">
                                <a href="{{ menu.path }}">
                                  {{ menu.name }}
                                </a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul>
                  {% for menu in item.items %}
                    {% if menu.hide is not defined or not menu.hide %}
                      <li class="{% if menu.active|default(false) %}is-active{% endif %}">
                        <a href="{{ menu.path }}">
                          {{ menu.name }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% else %}
            <li class="{% if item.active|default(false) %}is-active{% endif %}">
              <a href="{{ item.path }}">
                {{ item.name }}
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
