{% import '@SymfonyAdmin/macros.html.twig' as UI %}

{% set route = app.request.attributes.get('_route')|slice(6) %}

{% set items = [
  {
    path: path('admin_homepage'),
    name: 'Dashboard',
    icon: 'dashboard',
    active: 'homepage' == route
  }
] %}

{% if sidebarNavItems is defined %}
  {% set items = items|merge(sidebarNavItems) %}
{% endif %}

<div class="sidebar">
  <div class="sidebar-toggle js-sidebar-toggle">
    <i class="ledger-icons ledger-icon-more-vert"></i>
  </div>

  <div class="content">
    <div class="nav-header">
      <div class="nav-icons">
        <div class="nav-drawer">
          {% block sidebar_nav_drawer %}{% endblock %}

          <div class="sidebar-close js-sidebar-toggle">
            <i class="ledger-icons ledger-icon-close"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-drawer-icons">
      {% block sidebar_nav_drawer_icons %}{% endblock %}
    </div>

    {% for item in items %}
      {% if item.spacer is defined and item.spacer %}
        <div class="nav-spacer"></div>
      {% endif %}

      <div class="{% if item.navOptionClass is defined and item.navOptionClass %}{{ item.navOptionClass }}{% else %}nav-options{% endif %} {% if item.active %}selected{% endif %}">
        <a href="{{ item.path }}">
          <div class="nav-icons icon-tooltip" data-original-title="{{ item.name }}">
            <div class="icon">
              {% if item.icon is defined and item.icon %}
                <i class="ledger-icons ledger-icon-{{ item.icon }}"></i>
              {% endif %}
              {% if item.image is defined and item.image %}
                {{ item.image|raw }}
              {% endif %}
            </div>
          </div>

          <div class="{% if item.navTextClass is defined and item.navTextClass %}{{ item.navTextClass }}{% else %}nav-text{% endif %}">
            <div class="option-text">
              <div class="text">
                <div class="name">{{ item.name }}</div>
              </div>
            </div>
          </div>
        </a>

        <div class="{% if item.navActionClass is defined and item.navActionClass %}{{ item.navActionClass }}{% else %}nav-action{% endif %}">
          {% if item.action is defined and item.action %}
            {{ item.action|raw }}
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="nav-logo-option">
      <a href="{{ path('admin_homepage') }}">
        {% block sidebar_brand_icon %}
          <i class="ledger-icons ledger-icon-logo sidebar-brand-icon"></i>
        {% endblock %}
      </a>
    </div>
  </div>
</div>
