{% import '@SymfonyAdmin/macros.html.twig' as UI %}

{% set route = app.request.attributes.get('_route')|slice(6) %}

{% set items = [
  {
    path: path('admin_homepage'),
    name: 'Dashboard',
    icon: 'dashboard',
    active: 'homepage' == route
  }
] %}

{% if sidebarNavItems is defined %}
  {% set items = items|merge(sidebarNavItems) %}
{% endif %}

<div class="sidebar">
  <div class="content">
    <div class="nav-header">
      <div class="nav-icons">
        <div class="sidebar-open js-sidebar-toggle" data-toggle="tooltip" data-placement="right" title="Show navigation">
          <i class="ledger-icons ledger-icon-menu"></i>
        </div>

        <div class="logo-icon">
          <a href="{{ path('admin_homepage') }}">
            <div class="image">
              {% block sidebar_brand_icon %}
                <i class="ledger-icons ledger-icon-logo sidebar-brand-icon"></i>
              {% endblock %}
            </div>
          </a>
        </div>
      </div>

      <div class="nav-text">
        <div class="option-text">
          <a href="{{ path('admin_homepage') }}">
            <div class="text">
              <div class="name">
                {% block sidebar_brand_logo %}
                  <div class="sidebar-brand-logo">Ledger<small>&copy;</small></div>
                {% endblock %}
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="nav-action">
        <div class="sidebar-close js-sidebar-toggle" data-toggle="tooltip" data-placement="right" title="Hide navigation">
          <i class="ledger-icons ledger-icon-close"></i>
        </div>
      </div>
    </div>

    {% block sidebar_nav %}{% endblock %}

    {% for item in items %}
      {% if item.spacer is defined and item.spacer %}
        <div class="nav-spacer"></div>
      {% endif %}

      <div class="{% if item.navOptionClass is defined and item.navOptionClass %}{{ item.navOptionClass }}{% else %}nav-options{% endif %} {% if item.active %}selected{% endif %}">
        <a href="{{ item.path }}">
          <div class="nav-icons icon-tooltip" data-original-title="{{ item.name }}">
            <div class="icon">
              {% if item.icon is defined and item.icon %}
                <i class="ledger-icons ledger-icon-{{ item.icon }}"></i>
              {% endif %}
              {% if item.image is defined and item.image %}
                {{ item.image|raw }}
              {% endif %}
            </div>
          </div>

          <div class="{% if item.navTextClass is defined and item.navTextClass %}{{ item.navTextClass }}{% else %}nav-text{% endif %}">
            <div class="option-text">
              <div class="text">
                <div class="name">{{ item.name }}</div>
              </div>
            </div>
          </div>
        </a>

        <div class="{% if item.navActionClass is defined and item.navActionClass %}{{ item.navActionClass }}{% else %}nav-action{% endif %}">
          {% if item.action is defined and item.action %}
            {{ item.action|raw }}
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="nav-footer">
      {% block sidebar_footer %}{% endblock %}
    </div>
  </div>
</div>
