{% extends '@SymfonyAdmin/layout/backend/layout.html.twig' %}

{% import '@SymfonyAdmin/macros.html.twig' as UI %}
{% import '@SymfonyAdmin/layout/backend/macros.html.twig' as LUI %}

{% block title 'Report: ' ~ report %}

{% if header_title is not defined %}
  {% set header_title = 'Report: ' ~ report %}
{% endif %}

{% set application_content_class = 'has-navigation' %}

{% block body %}
  <div class="reports-page">
    <div class="list-page-container single-line-header">
      {{ LUI.navigation(reportsNavItems|default([])) }}

      <div class="list-page-header">
        <div class="list-filter-container">
          {# use to override default filter #}
          {% if defaultFilter is not defined %}
            {% set defaultFilter = {
              createdAt: {
                unit: 'this_month'
              }
            } %}
          {% endif %}

          {# main filter #}
          {% if publicFilters is not defined %}
            {% set publicFilters = [
              {
                id: 'all',
                name: 'All Records',
                params: defaultFilter,
                isDefault: true
              }
            ] %}
          {% endif %}

          {% if privateFilters is not defined %}
            {% set privateFilters = filters %}
          {% endif %}

          {{ UI.filterDropdown(sectionFilter, publicFilters, privateFilters, app.request.get('filters'), defaultFilterUrl|default(null), editFilterUrl|default(null), deleteFilterUrl|default(null)) }}
        </div>

        {# tools/actions #}
        <div class="list-buttons-container d-flex has-toggle js-toggle-container">
          <span class="list-buttons-toggle-content js-toggle-content">
            {% if block('report_chart') is not empty %}
              <div class="toggle-button-group nav">
                {% if reportCardView is defined %}
                  {% if reportCardView %}
                    <div class="toggle-button js-toggle-card-view">
                      <i class="ledger-icons ledger-icon-view-list"></i>
                    </div>

                    <div class="toggle-button active" data-toggle="tab" data-target=".list-page-table">
                      <i class="ledger-icons ledger-icon-view-cards"></i>
                    </div>
                  {% else %}
                    <div class="toggle-button active" data-toggle="tab" data-target=".list-page-table">
                      <i class="ledger-icons ledger-icon-view-list"></i>
                    </div>

                    <div class="toggle-button js-toggle-card-view">
                      <i class="ledger-icons ledger-icon-view-cards"></i>
                    </div>
                  {% endif %}
                {% else %}
                  <div class="toggle-button active" data-toggle="tab" data-target=".list-page-table">
                    <i class="ledger-icons ledger-icon-view-list"></i>
                  </div>
                {% endif %}

                <div class="toggle-button" data-toggle="tab" data-target=".list-page-chart">
                  <i class="ledger-icons ledger-icon-view-chart"></i>
                </div>
              </div>
            {% elseif reportCardView is defined %}
              <div class="toggle-button-group nav">
                {% if reportCardView %}
                  <div class="toggle-button js-toggle-card-view">
                    <i class="ledger-icons ledger-icon-view-list"></i>
                  </div>

                  <div class="toggle-button active" data-toggle="tab" data-target=".list-page-table">
                    <i class="ledger-icons ledger-icon-view-cards"></i>
                  </div>
                {% else %}
                  <div class="toggle-button active" data-toggle="tab" data-target=".list-page-table">
                    <i class="ledger-icons ledger-icon-view-list"></i>
                  </div>

                  <div class="toggle-button js-toggle-card-view">
                    <i class="ledger-icons ledger-icon-view-cards"></i>
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% block report_actions %}{% endblock %}

            {% if reportExportPath is defined %}
              <div class="popup-container" data-toggle="tooltip" data-placement="bottom" title="Export Data">
                <i class="toggle-button ledger-icons ledger-icon-download js-print-list" data-endpoint="{{ reportExportPath }}"></i>
              </div>
            {% endif %}

            <div class="popup-container" data-toggle="tooltip" data-placement="bottom" title="Show Filters">
              <i class="toggle-button ledger-icons ledger-icon-filter" data-toggle="collapse" data-target=".drawer-frame"></i>
              <span class="counter js-filter-counter"></span>
            </div>
          </span>

          <div class="list-buttons-toggle-button">
            <div class="popup-container" data-toggle="tooltip" data-placement="bottom" title="Show Tools">
              <i class="toggle-button ledger-icons ledger-icon-settings js-toggle-button" data-toggle-open-class="active"></i>
            </div>
          </div>
        </div>
      </div>

      {% block report_extra %}{% endblock %}

      <div class="tab-content h-100">
        {% block report_chart %}
          <div class="tab-pane list-page-chart">
            <div class="list-chart-summary">
              {% block report_filter %}
                <div class="list-chart-summary-control-rows">
                  <div class="list-chart-summary-control-row">
                    {% block filter_summary %}
                      <div class="list-chart-summary-filter">
                        <div class="list-chart-summary-filter-label">Group By</div>
                        <div class="list-chart-summary-filter-content">
                          {{ UI.dropdownButton({
                            label: 'Daily',
                            aCss: 'dropdown-flat',
                            iCss: 'ledger-icons ledger-icon-carat-down',
                            elements: [
                              {
                                label: 'Daily',
                                opData: {value: 'daily'},
                                opCss: 'is-selected is-highlighted js-grouping-type'
                              },
                              {
                                label: 'Weekly',
                                opData: {value: 'weekly'},
                                opCss: 'js-grouping-type'
                              },
                              {
                                label: 'Monthly',
                                opData: {value: 'monthly'},
                                opCss: 'js-grouping-type'
                              },
                              {
                                label: 'Quarterly',
                                opData: {value: 'quarterly'},
                                opCss: 'js-grouping-type'
                              }
                            ]
                          }) }}
                        </div>
                      </div>
                    {% endblock %}
                  </div>
                </div>
              {% endblock %}

              <div class="list-chart-summary-number-list">
                {% block report_summary %}{% endblock %}
              </div>
            </div>

            <div class="chart-container-chart"
              data-token="{{ report.token|replace({'-': '_'}) }}"
              data-endpoint="{{ path('admin_api_report_chart', {id: report.id}) }}"
              {% if reportReloadList is defined and reportReloadList == true %}
                data-reload-list="true"
              {% endif %}
              {% if reportColors is defined %}
                data-colors="{{ reportColors|json_encode }}"
              {% endif %}
              {% if reportFormat is defined %}
                data-format="{{ reportFormat }}"
              {% endif %}
            ></div>

            <div class="chart-loading-overlay">
              <div class="d-flex">
                <div class="chart-loading-overlay-spinner">
                  <div class="circle-spinner"></div>
                </div>
              </div>
              <div class="chart-loading-overlay-subtext d-flex mt-4">
                Sorry, this seems to be taking a little longer than usual.
              </div>
            </div>
          </div>
        {% endblock %}

        <div class="tab-pane active list-page-table report-table-component"
          data-endpoint="{{ path('admin_api_report_cget', {id: report.id}) }}"
          {% if reportTotals is defined and reportTotals == true %}
            data-totals="true"
          {% endif %}
          {% if reportCardView is defined and reportCardView == true %}
            data-card-view="true"
          {% endif %}
        >
          {% block report_table %}{% endblock %}
        </div>
      </div>
    </div>

    {{ UI.listPageEmptyContent() }}
    {{ UI.listPageLoadingPopup() }}

    {% block report_drawer %}{% endblock %}
  </div>
{% endblock %}
