{% extends '@SymfonyAdmin/layout/backend/layout.html.twig' %}

{% import '@SymfonyAdmin/macros.html.twig' as UI %}
{% import '@SymfonyAdmin/layout/backend/macros.html.twig' as LUI %}

{% block title 'Report: ' ~ report %}

{% set header_title = 'Report: ' ~ report %}
{% set header_class = 'header-reports' %}

{% set preloadFilters = app.request.get('filters') %}

{% block body %}
  <div class="reports-page">
    <div class="list-page-container has-navigation">
      {{ LUI.navigation(navItems) }}

      <div class="list-page-header">
        {# use to override default filter #}
        {% if defaultFilter is not defined %}
          {% set defaultFilter = {
            createdAt: {
              unit: 'this_month'
            }
          } %}
        {% endif %}

        {# main filter #}
        {% if preloadFilters %}
          {% set defaultFilter = {
            id: 'preload',
            title: 'Preload Search',
            filter: preloadFilters,
            isLocked: true
          } %}
        {% else %}
          {% set defaultFilter = {
            id: 'public',
            title: 'All Records',
            filter: defaultFilter,
            isLocked: true
          } %}
        {% endif %}
        {% set publicFilters = [
          {
            id: 'public',
            title: 'All Records',
            filter: defaultFilter,
            isLocked: true,
            isDefault: true
          }
        ] %}
        {{ UI.filterDropdown(defaultFilter, publicFilters, filters, 'admin_api_filter_update', 'admin_api_filter_delete') }}

        {# tools/actions #}
        <div class="list-buttons-container">
          {% block report_actions %}{% endblock %}

          {% if reportExportPath is defined %}
            <div class="popup-container" data-toggle="tooltip" data-placement="bottom" title="Export Data">
              <i class="toggle-button zmdi zmdi-download js-print-list" data-endpoint="{{ reportExportPath }}"></i>
            </div>
          {% endif %}

          {% if block('report_chart') is not empty %}
            <div class="popup-container" data-toggle="tooltip" data-placement="bottom" title="Show Chart">
              <i class="toggle-button zmdi zmdi-chart js-toggle-button" data-toggle-open-class="active" data-toggle="collapse" data-target=".list-page-chart"></i>
            </div>
          {% endif %}

          <div class="popup-container" data-toggle="tooltip" data-placement="bottom" title="Show Filters">
            <i class="toggle-button zmdi zmdi-filter-list" data-toggle="collapse" data-target=".drawer-frame"></i>
            <span class="counter js-filter-counter"></span>
          </div>
        </div>
      </div>

      {% block report_chart %}
        <div class="list-page-chart collapse">
          <div class="list-chart-summary">
            <div class="list-chart-summary-number-list">
              {% block report_summary %}{% endblock %}
            </div>

            {% block report_filter %}
              <div class="list-chart-summary-control-rows">
                <div class="list-chart-summary-control-row">
                  {% block filter_summary %}
                    <div class="list-chart-summary-filter">
                      <div class="list-chart-summary-filter-label">Group By</div>
                      <div class="list-chart-summary-filter-content">
                        <div class="radio-button-group">
                          <div class="form-group is-inline">
                            <span class="radio-button-group-item">
                              <input id="groupingType_daily" name="groupingType" class="radio-input" value="daily" type="radio" />
                              <label for="groupingType_daily" class="radio-button-inline radio-button">
                                <i class="zmdi zmdi-dot-circle checked"></i>
                                <i class="zmdi zmdi-circle-o unchecked"></i>
                                <span>Daily</span>
                              </label>
                            </span>
                          </div>

                          <div class="form-group is-inline">
                            <span class="radio-button-group-item">
                              <input id="groupingType_weekly" name="groupingType" class="radio-input" value="weekly" type="radio" />
                              <label for="groupingType_weekly" class="radio-button-inline radio-button">
                                <i class="zmdi zmdi-dot-circle checked"></i>
                                <i class="zmdi zmdi-circle-o unchecked"></i>
                                <span>Weekly</span>
                              </label>
                            </span>
                          </div>

                          <div class="form-group is-inline">
                            <span class="radio-button-group-item">
                              <input id="groupingType_monthly" name="groupingType" class="radio-input" value="monthly" type="radio" checked="checked" />
                              <label for="groupingType_monthly" class="radio-button-inline radio-button">
                                <i class="zmdi zmdi-dot-circle checked"></i>
                                <i class="zmdi zmdi-circle-o unchecked"></i>
                                <span>Monthly</span>
                              </label>
                            </span>
                          </div>

                          <div class="form-group is-inline">
                            <span class="radio-button-group-item">
                              <input id="groupingType_quarterly" name="groupingType" class="radio-input" value="quarterly" type="radio" />
                              <label for="groupingType_quarterly" class="radio-button-inline radio-button">
                                <i class="zmdi zmdi-dot-circle checked"></i>
                                <i class="zmdi zmdi-circle-o unchecked"></i>
                                <span>Quarterly</span>
                              </label>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endblock %}
                </div>
              </div>
            {% endblock %}
          </div>

          <div class="chart-container-chart"
            data-token="{{ report.token|replace({'-': '_'}) }}"
            data-endpoint="{{ path('admin_api_report_chart', {id: report.id}) }}"
            {% if reportReloadList is defined and reportReloadList == true %}
              data-reload-list="true"
            {% endif %}
          ></div>

          <div class="chart-loading-overlay">
            <div class="d-flex">
              <div class="chart-loading-overlay-spinner">
                <div class="circle-spinner"></div>
              </div>
            </div>
            <div class="chart-loading-overlay-subtext d-flex mt-4">
              Sorry, this seems to be taking a little longer than usual.
            </div>
          </div>
        </div>
      {% endblock %}

      <div class="list-page-table report-table-component"
        data-endpoint="{{ path('admin_api_report_cget', {id: report.id}) }}"
        {% if reportTotals is defined and reportTotals == true %}
          data-totals="true"
        {% endif %}
      >
        {% block report_table %}{% endblock %}
      </div>
    </div>

    {{ UI.listPageEmptyContent() }}
    {{ UI.listPageLoadingPopup() }}

    {% block report_drawer %}{% endblock %}
  </div>
{% endblock %}
