<!doctype html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <!-- SEO Meta Tags -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="{{ app.request.uri }}" />
    <!-- End SEO Meta Tags -->

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon.png') }}">
  </head>
  <body class="{% block body_class %}{% endblock %} logged-{% if is_granted('ROLE_USER') %}in{% else %}out{% endif %} {{ app.request.attributes.get('_route') }}">

    {% block layout %}{% endblock %}

    {% block javascripts %}
      <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
