{% extends '@SymfonyAdmin/layout/auth/layout.html.twig' %}

{% block body %}
  <div class="title">Sign In</div>

  {% block before_form %}{% endblock %}

  <form action="{{ path('security_login') }}" autocomplete="off" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <input type="hidden" name="_target_path" value="{{ app.request.get('_target_path') }}" />

    <div class="form-group has-icon has-floating-label">
      <i class="ledger-icons ledger-icon-messages"></i>
      <input type="text" id="_username" name="_username" value="{{ last_username }}" placeholder=" " class="form-control" autofocus />
      <label for="_username">Username</label>
    </div>

    <div class="form-group has-icon has-floating-label pb-0">
      <i class="ledger-icons ledger-icon-lock"></i>
      <div class="password-input">
        <div class="checkbox">
          <label class="checkbox-label">
            <input type="checkbox" value="1" class="checkbox-input js-show-password" data-target="#_password" />
            <span class="checkbox-display">
              <i class="ledger-icons ledger-icon-eye checked"></i>
              <i class="ledger-icons ledger-icon-eye-off unchecked"></i>
            </span>
          </label>
        </div>
      </div>
      <input type="password" id="_password" name="_password" placeholder=" " class="form-control" />
      <label for="_password">Password</label>
    </div>

    <small class="float-right font-weight-bold mt-2">
      <a href="{{ path('resetting_request') }}">Forgot Password</a>
    </small>

    {% if rememberMe|default(false) %}
      <div class="checkbox">
        <label class="checkbox-label">
          <input type="checkbox" name="_remember_me" checked="checked" class="checkbox-input" />
          <span class="checkbox-display">
            <i class="ledger-icons ledger-icon-check-square checked"></i>
            <i class="ledger-icons ledger-icon-square-outline unchecked"></i>
          </span>
          <span class="checkbox-text">Remember Me</span>
        </label>
      </div>
    {% endif %}

    <button type="submit" class="btn btn-primary btn-block btn-large mt-4">Sign in</button>
  </form>

  {% block after_form %}{% endblock %}
{% endblock %}
